{{define "navbar"}}
<nav class="navbar is-dark" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">PeerCast Gateway</a>
    <a role="button" class="navbar-burger" data-target="mainNavbar">
      <span></span><span></span><span></span>
    </a>
  </div>
  <div id="mainNavbar" class="navbar-menu">
    <div class="navbar-start">
      {{if .LoggedIn}}
      <a class="navbar-item" href="/home">Home</a>
      <a class="navbar-item" href="/create">配信</a>
      <a class="navbar-item" href="/sources">ソース</a>
      {{end}}
      <a class="navbar-item" href="/stats">
        <span class="icon"><i class="fas fa-chart-bar"></i></span><span>利用状況</span>
      </a>
      <a class="navbar-item" href="/programs">
        <span class="icon"><i class="fas fa-clock-rotate-left"></i></span><span>過去の番組</span>
      </a>
      <a class="navbar-item" href="/profile">
        <span class="icon"><i class="fas fa-user"></i></span><span>ユーザー</span>
      </a>
      {{if .LoggedIn}}
      <a class="navbar-item" href="/notices">
        お知らせ{{if .HasUnreadNotices}} <span class="tag is-danger is-light ml-1">NEW</span>{{end}}
      </a>
      {{end}}
      {{if and .User .User.Admin}}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">管理</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/admin">管理画面</a>
          <a class="navbar-item" href="/servents">サーバント</a>
          <a class="navbar-item" href="/users">ユーザー管理</a>
        </div>
      </div>
      {{end}}
    </div>
    <div class="navbar-end">
      {{if .LoggedIn}}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{if and .User (ne .User.Image "")}}
          <figure class="image is-24x24 mr-2"><img class="is-rounded" src="{{.User.Image}}"></figure>
          {{end}}
          {{if .User}}{{.User.Name}}{{end}}
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="/profile/edit">プロフィール編集</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/logout">ログアウト</a>
        </div>
      </div>
      {{else}}
      <div class="navbar-item">
        <a class="button is-light" href="/login">ログイン</a>
      </div>
      {{end}}
    </div>
  </div>
</nav>
{{end}}
