{{define "content"}}
<h1 class="title">チャンネル編集</h1>
<form method="post" action="/channels/{{.Channel.ID}}">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  <div class="field">
    <label class="label">チャンネル名</label>
    <div class="control">
      <input class="input" type="text" name="channel_name" value="{{if .ChannelInfo}}{{.ChannelInfo.Channel}}{{end}}" required>
    </div>
  </div>
  <div class="field">
    <label class="label">ジャンル</label>
    <div class="control">
      <input class="input" type="text" name="genre" value="{{if .ChannelInfo}}{{.ChannelInfo.Genre}}{{end}}">
    </div>
  </div>
  <div class="field">
    <label class="label">説明</label>
    <div class="control">
      <input class="input" type="text" name="desc" value="{{if .ChannelInfo}}{{.ChannelInfo.Description}}{{end}}">
    </div>
  </div>
  <div class="field">
    <label class="label">コメント</label>
    <div class="control">
      <input class="input" type="text" name="comment" value="{{if .ChannelInfo}}{{.ChannelInfo.Comment}}{{end}}">
    </div>
  </div>
  <div class="field">
    <label class="label">コンタクトURL</label>
    <div class="control">
      <input class="input" type="url" name="url" value="{{if .ChannelInfo}}{{.ChannelInfo.URL}}{{end}}">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">更新</button>
      <a class="button" href="/channels/{{.Channel.ID}}">戻る</a>
    </div>
  </div>
</form>
{{end}}
{{template "layout" .}}
