{{define "content"}}
<h1 class="title">お知らせ作成</h1>
<form method="post" action="/notices">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  <div class="field"><label class="label">タイトル</label><div class="control"><input class="input" type="text" name="title" required maxlength="60"></div></div>
  <div class="field"><label class="label">本文</label><div class="control"><textarea class="textarea" name="body" required maxlength="1000"></textarea></div></div>
  <button class="button is-primary" type="submit">作成</button>
</form>
{{end}}
{{template "layout" .}}
