{{define "content"}}
<h1 class="title">プロフィール編集</h1>
<form method="post" action="/profile/edit">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  <div class="field">
    <label class="label">名前</label>
    <div class="control"><input class="input" type="text" name="name" value="{{.ProfileUser.Name}}" required></div>
  </div>
  <div class="field">
    <label class="label">自己紹介 (160文字以内)</label>
    <div class="control"><textarea class="textarea" name="bio" maxlength="160">{{.ProfileUser.Bio}}</textarea></div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">更新</button>
    </div>
  </div>
</form>
{{end}}
{{template "layout" .}}
