{{define "content"}}
<h1 class="title">ユーザー管理</h1>
<table class="table is-fullwidth is-hoverable">
  <thead><tr><th>ID</th><th>名前</th><th>Admin</th><th>凍結</th><th>最終ログイン</th><th></th></tr></thead>
  <tbody>
  {{range .Users}}
  <tr>
    <td>{{.ID}}</td>
    <td>{{if .Image}}<img class="is-rounded" src="{{.Image}}" style="width:24px;height:24px;vertical-align:middle"> {{end}}{{.Name}}</td>
    <td>{{if .Admin}}<span class="tag is-warning">Admin</span>{{end}}</td>
    <td>{{if .Suspended}}<span class="tag is-danger">凍結</span>{{end}}</td>
    <td>{{if .LoggedOnAt.Valid}}{{formatTime .LoggedOnAt.Time}}{{end}}</td>
    <td><a href="/users/{{.ID}}/edit">編集</a></td>
  </tr>
  {{end}}
  </tbody>
</table>
{{end}}
{{template "layout" .}}
