{{define "content"}}
<h1 class="title">{{.TargetUser.Name}}</h1>
<table class="table">
  <tr><th>ID</th><td>{{.TargetUser.ID}}</td></tr>
  <tr><th>Twitter ID</th><td>{{if .TargetUser.TwitterID.Valid}}{{.TargetUser.TwitterID.String}}{{end}}</td></tr>
  <tr><th>Admin</th><td>{{.TargetUser.Admin}}</td></tr>
  <tr><th>凍結</th><td>{{.TargetUser.Suspended}}</td></tr>
  <tr><th>Bio</th><td>{{.TargetUser.Bio}}</td></tr>
</table>
<a class="button" href="/users/{{.TargetUser.ID}}/edit">編集</a>
{{end}}
{{template "layout" .}}
