package admin

import "github.com/titagaki/pcgw-0yp/internal/view"

templ Index(pd view.PageData) {
	@view.Layout(pd) {
		<h1 class="title">管理画面</h1>
		<div class="columns">
			<div class="column"><a class="button is-fullwidth" href="/servents">サーバント管理</a></div>
			<div class="column"><a class="button is-fullwidth" href="/users">ユーザー管理</a></div>
			<div class="column"><a class="button is-fullwidth" href="/notices/new">お知らせ作成</a></div>
		</div>
	}
}
